body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

.topBar {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

.topBar .topBar_list {
    float: left;
}

.topBar .shop {
    margin-left: 15px;
    width: 120px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
}

.topBar .login {
    float: right;
}

.topBar a {
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}

.topBar .shop a {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.topBar a:hover {
    color: #ffffff;
}

.topBar span {
    color: #424242;
    margin: 0 .5em;
}


/*小米顶部 */


/* 小米导航栏 */

.header {
    height: 100px;
}

.header .site-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.header .site-list {
    float: left;
    width: 850px;
}

.header .site-logo a {
    display: block;
    width: 56px;
    height: 56px;
}

.header .site-list ul {
    width: 820px;
    padding: 12px 0 0 30px;
    height: 88px;
    font-size: 16px;
}

.header .site-list ul li {
    float: left;
}

.header .site-list ul a {
    display: block;
    padding: 26px 10px 38px;
    color: #333333;
}

.header .site-list ul .site-category a {
    padding-top: 10px;
}

.header .site-list ul li a:hover {
    color: #ff6700;
}

.header .site-list ul li.site-category {
    position: relative;
}

.header .site-list ul li.site-category .category-list {
    position: absolute;
    width: 234px;
    height: 459px;
    top: 110px;
    left: -92px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header .site-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.header .site-search form {
    width: 296px;
    height: 56px;
    position: relative;
}

.header .site-search form .search-text {
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    float: left;
}

.header .site-search form .search-btn {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}

.header .site-search form .search-word {
    position: absolute;
    top: 14px;
    right: 65px;
    font-size: 14px;
}

.header .site-search form .search-word a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #eee;
    color: #757575;
}

.header .site-search form .search-word a:hover {
    background-color: #ff6700;
    color: #fff;
}


/* 导航栏end */


/* 小米站点内容 */

.site-content .site-slider a img {
    width: 1226px;
}

.site-content .site-slider a {
    display: block;
    width: 1226px;
}


/* 小米站点end */